{{template "base/head" .}}
<div class="repository new migrate home-main gradient-bg">
	<div class="ui middle very relaxed page grid">
		<div class="column">
			<form class="ui form" action="{{.Link}}" method="post">
				{{.CSRFTokenHTML}}
				<h3 class="ui center">
					{{.i18n.Tr "new_migrate"}}
				</h3>
				<div class="ui attached segment prompt box">
					{{template "base/alert" .}}
					<div class="inline required field {{if .Err_CloneAddr}}error{{end}}">
						<label for="clone_addr">{{.i18n.Tr "repo.migrate.clone_address"}}</label>
						<input id="clone_addr" name="clone_addr" value="{{.clone_addr}}" autofocus required>
						<span class="help repo-form">
							{{.i18n.Tr "repo.migrate.clone_address_desc"}}
							{{if .ContextUser.CanImportLocal}}
								<br>
								<span class="text blue">{{.i18n.Tr "repo.migrate.clone_address_desc_import_local"}}</span>
							{{end}}
						</span>
					</div>
					<div class="ui accordion optional field">
						<div class="title {{if .Err_Auth}}text red active{{end}} repo-form">
							<i class="icon dropdown"></i>
							{{.i18n.Tr "repo.need_auth"}}
						</div>
						<div class="content {{if .Err_Auth}}active{{end}}">
							<div class="inline field {{if .Err_Auth}}error{{end}}">
								<label for="auth_username">{{.i18n.Tr "username"}}</label>
								<input id="auth_username" name="auth_username" value="{{.auth_username}}" {{if not .auth_username}}data-need-clear="true"{{end}}>
							</div>
							<input class="fake" type="password">
							<div class="inline field {{if .Err_Auth}}error{{end}}">
								<label for="auth_password">{{.i18n.Tr "password"}}</label>
								<input id="auth_password" name="auth_password" type="password" value="{{.auth_password}}">
							</div>
						</div>
					</div>

					<div class="ui divider"></div>

					<div class="inline required field {{if .Err_Owner}}error{{end}}">
						<label>{{.i18n.Tr "repo.owner"}}</label>
						<div class="ui selection owner dropdown">
							<input type="hidden" id="uid" name="uid" value="{{.ContextUser.ID}}" required>
							<span class="text">
								<img class="ui mini image" src="{{.ContextUser.RelAvatarLink}}">
								{{.ContextUser.ShortName 20}}
							</span>
							<i class="dropdown icon"></i>
							<div class="menu">
								<div class="item" data-value="{{.LoggedUser.ID}}">
									<img class="ui mini image" src="{{.LoggedUser.RelAvatarLink}}">
									{{.LoggedUser.ShortName 20}}
								</div>
								{{range .Orgs}}
									<div class="item" data-value="{{.ID}}">
										<img class="ui mini image" src="{{.RelAvatarLink}}">
										{{.ShortName 20}}
									</div>
								{{end}}
							</div>
						</div>
					</div>

					<div class="inline required field {{if .Err_RepoName}}error{{end}}">
						<label for="repo_name">{{.i18n.Tr "repo.repo_name"}}</label>
						<input id="repo_name" name="repo_name" value="{{.repo_name}}" required>
					</div>
					<div class="inline field">
						<label>{{.i18n.Tr "repo.visibility"}}</label>
						<div class="ui checkbox">
							{{if .IsForcedPrivate}}
								<input name="private" type="checkbox" checked readonly>
								<label>{{.i18n.Tr "repo.visiblity_helper_forced" | Safe}}</label>
							{{else}}
								<input name="private" type="checkbox" {{if .private}}checked{{end}}>
								<label>{{.i18n.Tr "repo.visiblity_helper" | Safe}}</label>
							{{end}}
						</div>
					</div>
					<div class="inline field">
						<label>{{.i18n.Tr "repo.migrate_type"}}</label>
						<div class="ui checkbox">
							<input name="mirror" type="checkbox" {{if .mirror}}checked{{end}}>
							<label>{{.i18n.Tr "repo.migrate_type_helper" | Safe}}</label>
						</div>
					</div>
					<div class="inline field {{if .Err_Description}}error{{end}}">
						<label for="description">{{.i18n.Tr "repo.repo_desc"}}</label>
						<textarea id="description" name="description">{{.description}}</textarea>
					</div>

					<div class="inline field">
						<label></label>
						<button class="ui green button">
							{{.i18n.Tr "repo.migrate_repo"}}
						</button>
						<a class="ui button" href="{{AppSubURL}}/">{{.i18n.Tr "cancel"}}</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{{template "base/footer" .}}
