<div class="twelve wide column content">
	{{template "base/alert" .}}
	<h4 class="ui top attached header">
		{{.i18n.Tr "repo.settings.hooks"}} 🎣
		<div class="ui right">
			<div class="ui types jump dropdown">
				{{if .Types}}
					<div class="ui blue tiny button">{{.i18n.Tr "repo.settings.add_webhook"}}</div>
					<div class="menu">
						{{range .Types}}
							{{if eq . "gitote"}}
								<a class="item logo" href="{{$.BaseLink}}/settings/hooks/gitote/new">
									<img class="img-12" src="https://cdn.gitote.in/logoblack.svg">Gitote
								</a>
							{{else if eq . "slack"}}
								<a class="item logo" href="{{$.BaseLink}}/settings/hooks/slack/new">
									<img class="img-12" src="https://cdn.gitote.in/img/slack.png">Slack
								</a>
							{{else if eq . "discord"}}
								<a class="item logo" href="{{$.BaseLink}}/settings/hooks/discord/new">
									<img class="img-12" src="https://cdn.gitote.in/img/discord.png">Discord
								</a>
							{{end}}
						{{end}}
					</div>
				{{end}}
			</div>
		</div>
	</h4>
	<div class="ui attached table segment">
		<div class="ui hook list">
			<div class="item">
				{{.Description | Str2HTML}}
			</div>
			{{range .Webhooks}}
				<div class="item">
					{{if eq .LastStatus 1}}
						<span class="text green"><i class="octicon octicon-check"></i></span>
					{{else if eq .LastStatus 2}}
						<span class="text red"><i class="octicon octicon-alert"></i></span>
					{{else}}
						<span class="text grey"><i class="octicon octicon-primitive-dot"></i></span>
					{{end}}
					<a href="{{$.BaseLink}}/settings/hooks/{{.ID}}">{{.URL}}</a>
					<div class="ui right">
						<span class="text blue"><a href="{{$.BaseLink}}/settings/hooks/{{.ID}}"><i class="fa fa-pencil"></i></a></span>
						<span class="text red"><a class="delete-button" data-url="{{$.Link}}/delete" data-id="{{.ID}}"><i class="fa fa-times"></i></a></span>
					</div>
				</div>
			{{end}}
		</div>
	</div>
</div>

{{template "repo/settings/webhook/delete_modal" .}}
