<div class="navbar container infobar main">
    <div class="ui grid">
        <div class="column">
            <div class="ui left floated header infobar text">
                {{if or .IsAdmin .IsStaff .IsIntern}}
                    <span class="infobar admin-align hide-mobile">
                        Version <span class="infobar embed">{{AppVer}}</span>
                    </span>
                    
                    <span class="infobar admin-align hide-mobile">
                        Render
                        <span class="infobar embed">{{LoadTimes .PageStartTime}}</span>
                    </span>
                {{end}}
                <span class="infobar align">
                    <span class="infobar heart">❤</span>
                    <span
                        id="expansion"
                        class="infobar expansion"
                        onclick="document.getElementById('expansion').innerHTML = nextWord();" >
                        Get It Together
                    </span>
                </span>
            </div>
            <div class="ui right floated header infobar text">
                {{if or .IsAdmin .IsStaff .IsIntern}}
                    <div class="ui dropdown">
                        {{if .Lab}}<i class="octicon octicon-pulse"></i>
                        {{else}}<i class="octicon octicon-squirrel"></i>
                        {{end}}
                    </div>
                    <span class="infobar admin-align hide-mobile">
                        {{if .Lab}}Gitote:Lab{{else}}Gitote:Prod{{end}}
                    </span>
                    
                    <span class="infobar divider hide-mobile"></span>

                    <span class="infobar hide-mobile">{{GoVer}}</span>
                {{end}}
                {{if or .IsBeta .IsAdmin .IsStaff .IsIntern}}
                    <span class="infobar embed">Beta</span>
                {{end}}
                <a href="{{AppURL}}about">
                    <span class="infobar align hide-mobile">About</span>
                </a>
                <a href="{{AppURL}}features">
                    <span class="infobar align hide-mobile">Features</span>
                </a>
                <a href="https://help.gitote.in">
                    <span class="infobar align hide-mobile">Docs</span>
                </a>
                <a href="{{AppURL}}contact">
                    <span class="infobar">Support</span>
                </a>
            </div>
        </div>
    </div>
</div>
