<div class="pages bg">
    {{template "base/head" .}}
    <div class="pages head">
        <p class="text">Gitote Help</p>
    </div>
    <div class="pages body">
        {{template "misc/soon" .}}
    </div>
    {{template "base/footer" .}}
</div>
