<div class="pages bg">
    {{template "base/head" .}}
    <div class="pages head">
        <p class="text">Gitote Verified</p>
    </div>
    <div class="pages body">
        <h2>About verified accounts</h2>
        <p class="pages-small">
            The green verified badge <i class="verified octicon octicon-verified"></i> on Gitote lets people 
            know that an account of public interest is authentic.
        </p>
        <p class="pages-small">
            The badge appears next to the name on an account’s profile and next to the account name in search 
            results. It is always the same color and placed in the same location, regardless of profile or theme 
            color customizations. 
        </p>
        <p class="pages-small">
            Accounts that don’t have the badge next to their name but that display it somewhere else, for example 
            in the profile photo, or bio, are not verified accounts.
        </p>
        <p class="pages-small">
            Verified badges must be applied by Gitote, and accounts that use a badge as a part of profile photos, 
            or in any other way that implies verified status, are subject to permanent account suspension.
        </p>
        <div class="pages-heading">
            <h3>What types of accounts get verified?</h3>
        </div>
        <p class="pages-small">
            An account may be verified if it is determined to be an account of public interest. Typically this 
            includes accounts maintained by users is company, founder, famous developers, government, business, 
            and other key interest areas.
        </p>
        <p class="pages-small">
            A verified badge does not imply an endorsement by Gitote.
        </p>
    </div>
    {{template "base/footer" .}}
</div>
