{{template "base/head" .}}
<div class="repository wiki view">
	{{template "repo/header" .}}
	{{ $title := .title | Sanitize}}
	<div class="ui container">
		<div class="ui grid">
			<div class="ui ten wide column">
				<div class="choose page">
					<div class="ui floating filter dropdown" data-no-results="{{.i18n.Tr "repo.pulls.no_results"}}">
						<div class="ui basic small button">
							<span class="text">
								{{.i18n.Tr "repo.wiki.page"}}:
								<strong>{{$title}}</strong>
							</span>
							<i class="dropdown icon"></i>
						</div>
						<div class="menu">
							<div class="ui icon search input">
								<i class="filter icon"></i>
								<input name="search" placeholder="{{.i18n.Tr "repo.wiki.filter_page"}}...">
							</div>
							<div class="scrolling menu">
								{{range .Pages}}
									<div class="item {{if eq $.Title .Name}}selected{{end}}" data-url="{{$.RepoLink}}/wiki/{{.URL}}">{{.Name | Sanitize}}</div>
								{{end}}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="ui six wide column">
				<div class="ui action small input" id="clone-panel">
					{{if not $.DisableHTTP}}
						<button class="ui basic clone button" id="repo-clone-https" data-link="{{.WikiCloneLink.HTTPS}}">
							{{if UseHTTPS}}HTTPS{{else}}HTTP{{end}}
						</button>
					{{end}}
					{{if not $.DisableSSH}}
						<button class="ui basic clone button" id="repo-clone-ssh" data-link="{{.WikiCloneLink.SSH}}">
							SSH
						</button>
					{{end}}
					<input id="repo-clone-url" value="{{if not $.DisableHTTP}}{{$.CloneLink.HTTPS}}{{else}}{{$.CloneLink.SSH}}{{end}}" readonly>
					<button class="ui basic icon button poping up clipboard" id="clipboard-btn" data-original="{{.i18n.Tr "repo.copy_link"}}" data-success="{{.i18n.Tr "repo.copy_link_success"}}" data-error="{{.i18n.Tr "repo.copy_link_error"}}" data-content="{{.i18n.Tr "repo.copy_link"}}" data-variation="inverted tiny" data-clipboard-target="#repo-clone-url">
						<i class="octicon octicon-clippy"></i>
					</button>
				</div>
			</div>
		</div>
		<div class="ui dividing header">
			<span class="has-emoji">{{$title}}</span>
			{{if and .IsRepositoryWriter (not .Repository.IsMirror)}}
				<div class="ui right">
					<a class="ui small button" href="{{.RepoLink}}/wiki/{{EscapePound .PageURL}}/_edit">{{.i18n.Tr "repo.wiki.edit_page_button"}}</a>
					<a class="ui green small button" href="{{.RepoLink}}/wiki/_new">{{.i18n.Tr "repo.wiki.new_page_button"}}</a>
					<a class="ui red small button delete-button" href="" data-url="{{.RepoLink}}/wiki/{{EscapePound .PageURL}}/delete" data-id="{{EscapePound .PageURL}}">{{.i18n.Tr "repo.wiki.delete_page_button"}}</a>
				</div>
			{{end}}
			<div class="ui sub header repository wiki timestamp">
				{{$timeSince := TimeSince .Author.When $.Lang}}
				{{.i18n.Tr "repo.wiki.last_commit_info" .Author.Name $timeSince | Safe}}
			</div>
		</div>
		<div class="markdown has-emoji">
			{{.content | Str2HTML}}
		</div>
	</div>
</div>

<div class="ui small basic delete modal">
	<div class="ui icon header">
		<i class="trash icon"></i>
		{{.i18n.Tr "repo.wiki.delete_page_button"}}
	</div>
	<div class="content">
		<p>{{.i18n.Tr "repo.wiki.delete_page_notice_1" $title | Safe}}</p>
	</div>
	{{template "base/delete_modal_actions" .}}
</div>

{{template "base/footer" .}}
