{{template "base/head" .}}
<div class="user forgot password home-main gradient-bg">
	<div class="ui middle very relaxed page grid">
		<div class="column">
			<form class="ui form" action="{{.Link}}" method="post">
				{{.CSRFTokenHTML}}
				<h3 class="ui center">
					<img height="50px" src="https://cdn.gitote.in/logoblack.svg">
				</h3>
				<h2 class="ui center">
					{{.i18n.Tr "auth.forgot_password"}}
				</h2>
				<div class="ui attached segment prompt box">
					{{template "base/alert" .}}
					{{if .IsResetSent}}
						<p>{{.i18n.Tr "auth.confirmation_mail_sent_prompt" .Email .Hours | Str2HTML}}</p>
					{{else if .IsResetRequest}}
						<div class="required inline field {{if .Err_Email}}error{{end}}">
							<label for="email">{{.i18n.Tr "email"}}</label>
							<input id="email" name="email" type="email"  value="{{.Email}}" autofocus required>
						</div>
						<div class="ui divider"></div>
						<div class="inline field">
							<label></label>
							<button class="ui blue button">{{.i18n.Tr "auth.send_reset_mail"}}</button>
						</div>
					{{else if .IsResetDisable}}
						<p class="center">{{.i18n.Tr "auth.disable_register_mail"}}</p>
					{{else if .ResendLimited}}
						<p class="center">{{.i18n.Tr "auth.resent_limit_prompt"}}</p>
					{{end}}
				</div>
			</form>
		</div>
	</div>
</div>
{{template "base/footer" .}}
