{{template "base/head" .}}
<div class="user reset password home-main gradient-bg">
	<div class="ui middle very relaxed page grid">
		<div class="column">
			<form class="ui form" action="{{.Link}}" method="post">
				{{.CSRFTokenHTML}}
				<input name="code" type="hidden" value="{{.Code}}">
				<h3 class="ui center">
					<img height="50px" src="https://cdn.gitote.in/logoblack.svg">
				</h3>
				<h2 class="ui center">
					{{.i18n.Tr "auth.reset_password"}}
				</h2>
				<div class="ui attached segment prompt box">
					{{template "base/alert" .}}
					{{if .IsResetForm}}
						<div class="required inline field {{if .Err_Password}}error{{end}}">
							<label for="password">{{.i18n.Tr "password"}}</label>
							<input id="password" name="password" type="password"  value="{{.password}}" autofocus required>
						</div>
						<div class="ui divider"></div>
						<div class="inline field">
							<label></label>
							<button class="ui blue button">{{.i18n.Tr "auth.reset_password_helper"}}</button>
						</div>
					{{else}}
						<p class="center">{{.i18n.Tr "auth.invalid_code"}}</p>
					{{end}}
				</div>
			</form>
		</div>
	</div>
</div>
{{template "base/footer" .}}
