{{template "base/head" .}}
<div class="admin notice">
	<div class="ui container">
		<div class="ui grid">
			{{template "admin/navbar" .}}
			<div class="twelve wide column content">
				{{template "base/alert" .}}
				<h4 class="ui top attached header">
					System Notices (Total: {{.Total}}) 📜
				</h4>
				<div class="ui unstackable attached table segment">
					<table class="ui unstackable very basic select selectable table">
						<thead>
							<tr>
								<th></th>
								<th>ID</th>
								<th>Type</th>
								<th>Description</th>
								<th width="100px">Created</th>
								<th>Op.</th>
							</tr>
						</thead>
						<tbody>
							{{range .Notices}}
								<tr>
									<td class="collapsing">
										<div class="ui fitted checkbox" data-id="{{.ID}}">
											<input type="checkbox"> <label></label>
										</div>
									</td>
									<td>{{.ID}}</td>
									<td>{{$.i18n.Tr .TrStr}}</td>
									<td>{{SubStr .Description 0 120}}...</td>
									<td><span class="poping up" data-content="{{.Created}}" data-variation="inverted tiny">{{DateFmtShort .Created}}</span></td>
									<td><a href="#"><i class="eye icon view-detail" data-content="{{.Description}}"></i></a></td>
								</tr>
							{{end}}
						</tbody>
						<tfoot class="full-width">
							<tr>
								<th></th>
								<th colspan="5">
									<div class="ui right">
										<a class="ui red small button" href="{{AppSubURL}}/admin/notices/empty">Delete All Notices</a>
									</div>
									<div class="ui floating upward dropdown small button">
										<span class="text">Actions</span>
										<div class="menu">
											<div class="item select action" data-action="select-all">
												Select All
											</div>
											<div class="item select action" data-action="deselect-all">
												Deselect All
											</div>
											<div class="item select action" data-action="inverse">
												Inverse Selection
											</div>
										</div>
									</div>
									<div class="ui small teal button" id="delete-selection" data-link="{{.Link}}/delete" data-redirect="{{.Link}}?page={{.Page.Current}}">
										Delete Selected
									</div>
								</th>
							</tr>
						</tfoot>
					</table>
				</div>

				{{with .Page}}
					{{if gt .TotalPages 1}}
						<div class="center page buttons">
							<div class="ui borderless pagination menu">
								<a class="{{if .IsFirst}}disabled{{end}} item" href="{{$.Link}}"><i class="angle double left icon"></i> First</a>
								<a class="{{if not .HasPrevious}}disabled{{end}} item" {{if .HasPrevious}}href="{{$.Link}}?page={{.Previous}}"{{end}}>
									<i class="left arrow icon"></i> Previous
								</a>
								{{range .Pages}}
									{{if eq .Num -1}}
										<a class="disabled item">...</a>
									{{else}}
										<a class="{{if .IsCurrent}}active{{end}} item" {{if not .IsCurrent}}href="{{$.Link}}?page={{.Num}}"{{end}}>{{.Num}}</a>
									{{end}}
								{{end}}
								<a class="{{if not .HasNext}}disabled{{end}} item" {{if .HasNext}}href="{{$.Link}}?page={{.Next}}"{{end}}>
									Next&nbsp;<i class="icon right arrow"></i>
								</a>
								<a class="{{if .IsLast}}disabled{{end}} item" href="{{$.Link}}?page={{.TotalPages}}">Last&nbsp;<i class="angle double right icon"></i></a>
							</div>
						</div>
					{{end}}
				{{end}}
			</div>
		</div>
	</div>
</div>

<div class="ui modal" id="detail-modal">
	<i class="close icon"></i>
	<div class="header">View Notice Detail</div>
	<div class="content">
		<p></p>
	</div>
</div>
{{template "base/footer" .}}
