{{template "base/head" .}}
<div class="admin user">
	<div class="ui container">
		<div class="ui grid">
			{{template "admin/navbar" .}}
			<div class="twelve wide column content">
				{{template "base/alert" .}}
				<h4 class="ui top attached header">
					News Manage Panel 🌐
					<div class="ui right">
						<a class="ui black tiny button" href="{{AppSubURL}}/admin/news/new">Create New News</a>
					</div>
				</h4>
				<div class="ui unstackable attached table segment">
					<table class="ui unstackable very basic striped table">
						<thead>
							<tr>
								<th>ID</th>
								<th>Heading</th>
								<th>Body</th>
								<th>Edit</th>
							</tr>
						</thead>
						<tbody>
							{{range .Users}}
								<tr>
									<td>{{.ID}}</td>
									<td><span class="text truncate email">{{.Heading}}</span></td>
									<td><span class="text truncate email">{{.Body}}</span></td>
									<td><a href="{{$.Link}}/{{.ID}}">🖊</a></td>
								</tr>
							{{end}}
						</tbody>
					</table>
				</div>

				{{template "admin/base/page" .}}
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
