{{template "base/head" .}}
<div class="organization members">
	{{template "org/header" .}}
	<div class="ui container">
		{{template "base/alert" .}}
		{{if .IsOrganizationOwner}}
			<div class="text right">
				<a class="ui blue button" href="{{.OrgLink}}/invitations/new"><i class="octicon octicon-repo-create"></i> {{.i18n.Tr "org.invite_someone"}}</a>
			</div>
			<div class="ui divider"></div>
		{{end}}

		<div class="list">
			{{range .Members}}
				<div class="item ui grid">
					<div class="ui one wide column">
						<img class="ui avatar" src="{{.RelAvatarLink}}&s=48">
					</div>
					<div class="ui three wide column">
						<div class="meta"><a href="{{.HomeLink}}">{{.Name}}</a></div>
						<div class="meta">
							{{.FullName}}
							{{if .IsVerified}}<a class="poping up" target="_blank" href="/verified" data-content="Verified" data-variation="inverted tiny" data-position="right center"><i class="verified octicon octicon-verified"></i></a>{{end}}
						</div>	
					</div>
					<div class="ui five wide column center">
						<div class="meta">
							{{$.i18n.Tr "org.members.membership_visibility"}}
						</div>
						<div class="meta">
							{{ $isPublic := .IsPublicMember $.Org.ID}}
							{{if $isPublic}}
								<strong>{{$.i18n.Tr "org.members.public"}}</strong>
								{{if or (eq $.LoggedUser.ID .ID) $.IsOrganizationOwner}}(<a href="{{$.OrgLink}}/members/action/private?uid={{.ID}}">{{$.i18n.Tr "org.members.public_helper"}}</a>){{end}}
							{{else}}
								<strong>{{$.i18n.Tr "org.members.private"}}</strong>
								{{if or (eq $.LoggedUser.ID .ID) $.IsOrganizationOwner}}(<a href="{{$.OrgLink}}/members/action/public?uid={{.ID}}">{{$.i18n.Tr "org.members.private_helper"}}</a>){{end}}
							{{end}}
						</div>
					</div>
					<div class="ui three wide column center">
						<div class="meta">
							{{$.i18n.Tr "org.members.member_role"}}
						</div>
						<div class="meta">
							<strong>{{if .IsUserOrgOwner $.Org.ID}}<span class="octicon octicon-shield"></span> {{$.i18n.Tr "org.members.owner"}}{{else}}{{$.i18n.Tr "org.members.member"}}{{end}}</strong>
						</div>
					</div>
					<div class="ui four wide column">
						<div class="text right">
							{{if eq $.LoggedUser.ID .ID}}
								<a class="ui red small button" href="{{$.OrgLink}}/members/action/leave?uid={{.ID}}">{{$.i18n.Tr "org.members.leave"}}</a>
							{{else if $.IsOrganizationOwner}}
								<a class="ui red small button" href="{{$.OrgLink}}/members/action/remove?uid={{.ID}}">{{$.i18n.Tr "org.members.remove"}}</a>
							{{end}}
						</div>
					</div>
				</div>
			{{end}}
		</div>
	</div>
</div>
{{template "base/footer" .}}
