{{template "base/head" .}}
<div class="repository milestones">
	{{template "repo/header" .}}
	<div class="ui container">
		<div class="navbar">
			{{template "repo/issue/navbar" .}}
			{{if .IsRepositoryWriter}}
				<div class="ui right">
					<a class="ui green button" href="{{$.Link}}/new">{{.i18n.Tr "repo.milestones.new"}}</a>
				</div>
			{{end}}
		</div>
		<div class="ui divider"></div>
		{{template "base/alert" .}}
		<div class="ui buttons tiny">
			<a class="ui {{if not .IsShowClosed}}green{{else}}grey{{end}} basic button" href="{{.RepoLink}}/milestones?state=open">
				<i class="octicon octicon-milestone"></i>
				{{.i18n.Tr "repo.milestones.open_tab" .OpenCount}}
			</a>
			<a class="ui {{if .IsShowClosed}}red{{else}}grey{{end}} basic button" href="{{.RepoLink}}/milestones?state=closed">
				<i class="octicon octicon-milestone"></i>
				{{.i18n.Tr "repo.milestones.close_tab" .ClosedCount}}
			</a>
		</div>
		{{if not .Milestones}}
			<div class="ui center dashboard no-activity">
				<img class="ui avatar small image" src="https://cdn.gitote.in/img/svg/milestone.svg">
				<br/>
				<h2>No Milestones</h2>
			</div>
		{{end}}
		<div class="milestone list">
			{{range .Milestones}}
				<li class="item">
					<i class="octicon octicon-milestone"></i> <a href="{{$.RepoLink}}/issues?state={{$.State}}&milestone={{.ID}}">{{.Name | Sanitize}}</a>
					<div class="ui right green progress" data-percent="{{.Completeness}}">
						<div class="bar" {{if not .Completeness}}style="background-color: transparent"{{end}}>
							<div style="color:#f9f9f9;font-size:10px" class="progress"></div>
						</div>
					</div>
					<div class="meta">
						{{ $closedDate:= TimeSince .ClosedDate $.Lang }}
						{{if .IsClosed}}
							<span class="octicon octicon-clock"></span> {{$.i18n.Tr "repo.milestones.closed" $closedDate|Str2HTML}}
						{{else}}
							<span class="octicon octicon-calendar"></span>
							{{if .DeadlineString}}
								<span {{if .IsOverDue}}class="overdue"{{end}}>{{.DeadlineString}}</span>
							{{else}}
								{{$.i18n.Tr "repo.milestones.no_due_date"}}
							{{end}}
						{{end}}
						<span class="issue-stats">
							<i class="octicon octicon-issue-opened"></i> {{$.i18n.Tr "repo.issues.open_tab" .NumOpenIssues}}
							<i class="octicon octicon-issue-closed"></i> {{$.i18n.Tr "repo.issues.close_tab" .NumClosedIssues}}
						</span>
					</div>
					{{if $.IsRepositoryWriter}}
						<div class="ui right operate">
							<a href="{{$.Link}}/{{.ID}}/edit" data-id={{.ID}} data-title={{.Name}}><i class="octicon octicon-pencil"></i> {{$.i18n.Tr "repo.issues.label_edit"}}</a>
							{{if .IsClosed}}
								<a href="{{$.Link}}/{{.ID}}/open" data-id={{.ID}} data-title={{.Name}}><i class="octicon octicon-check"></i> {{$.i18n.Tr "repo.milestones.open"}}</a>
							{{else}}
								<a href="{{$.Link}}/{{.ID}}/close" data-id={{.ID}} data-title={{.Name}}><i class="octicon octicon-x"></i> {{$.i18n.Tr "repo.milestones.close"}}</a>
							{{end}}
							<a class="delete-button" href="#" data-url="{{$.RepoLink}}/milestones/delete" data-id="{{.ID}}"><i class="octicon octicon-trashcan"></i> {{$.i18n.Tr "repo.issues.label_delete"}}</a>
						</div>
					{{end}}
					{{if .Content}}
						<div class="content">
							{{.RenderedContent|Str2HTML}}
						</div>
					{{end}}
				</li>
			{{end}}

			{{with .Page}}
				{{if gt .TotalPages 1}}
					<div class="center page buttons">
						<div class="ui borderless pagination menu">
							<a class="{{if not .HasPrevious}}disabled{{end}} item" {{if .HasPrevious}}href="{{$.Link}}?state={{$.State}}&page={{.Previous}}"{{end}}>
								<i class="left arrow icon"></i> {{$.i18n.Tr "repo.issues.previous"}}
							</a>
							{{range .Pages}}
								{{if eq .Num -1}}
									<a class="disabled item">...</a>
								{{else}}
									<a class="{{if .IsCurrent}}active{{end}} item" {{if not .IsCurrent}}href="{{$.Link}}?state={{$.State}}&page={{.Num}}"{{end}}>{{.Num}}</a>
								{{end}}
							{{end}}
							<a class="{{if not .HasNext}}disabled{{end}} item" {{if .HasNext}}href="{{$.Link}}?state={{$.State}}&page={{.Next}}"{{end}}>
								{{$.i18n.Tr "repo.issues.next"}} <i class="icon right arrow"></i>
							</a>
						</div>
					</div>
				{{end}}
			{{end}}
		</div>
	</div>
</div>

{{if .IsRepositoryWriter}}
	<div class="ui small basic delete modal">
		<div class="ui icon header">
			<i class="trash icon"></i>
			{{.i18n.Tr "repo.milestones.deletion"}}
		</div>
		<div class="content">
			<p>{{.i18n.Tr "repo.milestones.deletion_desc"}}</p>
		</div>
		<div class="actions">
			<div class="ui red basic inverted cancel button">
				<i class="remove icon"></i>
				{{.i18n.Tr "modal.no"}}
			</div>
			<div class="ui green basic inverted ok button">
				<i class="checkmark icon"></i>
				{{.i18n.Tr "modal.yes"}}
			</div>
		</div>
	</div>
{{end}}
{{template "base/footer" .}}
