<form class="ui comment form grid" action="{{.Link}}" method="post">
	{{.CSRFTokenHTML}}
	{{if .Flash}}
		<div class="sixteen wide column">
			{{template "base/alert" .}}
		</div>
	{{end}}
	<div class="twelve wide column">
		<div class="ui comments">
			<div class="comment">
				<a class="avatar" href="{{.LoggedUser.HomeLink}}">
					<img src="{{.LoggedUser.RelAvatarLink}}">
				</a>
				<div class="ui segment content">
					<div class="field">
						<input name="title" placeholder="{{.i18n.Tr "repo.milestones.title"}}" value="{{.title}}" tabindex="3" autocomplete="off" autofocus required>
					</div>
					{{template "repo/issue/comment_tab" .}}
					<a href="https://roachhd.gitbooks.io/master-markdown/content/" target="_blank">
						<p class="md-helper">
							<span class="octicon octicon-markdown"></span> Styling with Markdown is supported
						</p>
					</a>
					<div class="text right">
						<button class="ui green button" tabindex="6">
							{{if .PageIsComparePull}}
								{{.i18n.Tr "repo.pulls.create"}}
							{{else}}
								{{.i18n.Tr "repo.issues.create"}}
							{{end}}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="four wide column">
		<div class="ui segment metas">
			<input id="label_ids" name="label_ids" type="hidden" value="{{.label_ids}}">
			<div class="ui {{if not .Labels}}disabled{{end}} floating jump select-label dropdown">
				<span class="text">
					<strong>{{.i18n.Tr "repo.issues.new.labels"}}</strong>
					<span class="octicon octicon-gear"></span>
				</span>
				<div class="filter menu" data-id="#label_ids">
					<div class="no-select item">{{.i18n.Tr "repo.issues.new.clear_labels"}}</div>
					{{range .Labels}}
						<a class="{{if .IsChecked}}checked{{end}} item" href="#" data-id="{{.ID}}" data-id-selector="#label_{{.ID}}"><span class="octicon {{if .IsChecked}}octicon-check{{end}}"></span><span class="label color" style="background-color: {{.Color}}"></span> {{.Name}}</a>
					{{end}}
				</div>
			</div>
			<div class="ui labels list">
				<span class="no-select item {{if .HasSelectedLabel}}hide{{end}}">{{.i18n.Tr "repo.issues.new.no_label"}}</span>
				{{range .Labels}}
					<a class="{{if not .IsChecked}}hide{{end}} item" id="label_{{.ID}}" href="{{$.RepoLink}}/issues?labels={{.ID}}"><span class="label color" style="background-color: {{.Color}}"></span> <span class="text">{{.Name}}</span></a>
				{{end}}
			</div>

			<div class="ui divider"></div>

			<input id="milestone_id" name="milestone_id" type="hidden" value="{{.milestone_id}}">
			<div class="ui {{if not (or .OpenMilestones .ClosedMilestones)}}disabled{{end}} floating jump select-milestone dropdown">
				<span class="text">
					<strong>{{.i18n.Tr "repo.issues.new.milestone"}}</strong>
					<span class="octicon octicon-gear"></span>
				</span>
				<div class="menu">
					<div class="no-select item">{{.i18n.Tr "repo.issues.new.clear_milestone"}}</div>
					{{if .OpenMilestones}}
						<div class="divider"></div>
						<div class="header">
							<i class="octicon octicon-milestone"></i>
							{{.i18n.Tr "repo.issues.new.open_milestone"}}
						</div>
						{{range .OpenMilestones}}
							<div class="item" data-id="{{.ID}}" data-href="{{$.RepoLink}}/issues?milestone={{.ID}}"> {{.Name}}</div>
						{{end}}
					{{end}}
					{{if .ClosedMilestones}}
						<div class="divider"></div>
						<div class="header">
							<i class="octicon octicon-milestone"></i>
							{{.i18n.Tr "repo.issues.new.closed_milestone"}}
						</div>
						{{range .ClosedMilestones}}
							<a class="item" data-id="{{.ID}}" data-href="{{$.RepoLink}}/issues?milestone={{.ID}}"> {{.Name}}</a>
						{{end}}
					{{end}}
				</div>
			</div>
			<div class="ui select-milestone list">
				<span class="no-select item {{if .Milestone}}hide{{end}}">{{.i18n.Tr "repo.issues.new.no_milestone"}}</span>
				<div class="selected">
					{{if .Milestone}}
						<a class="item" href="{{.RepoLink}}/issues?milestone={{.Milestone.ID}}"> {{.Milestone.Name}}</a>
					{{end}}
				</div>
			</div>

			<div class="ui divider"></div>

			<input id="assignee_id" name="assignee_id" type="hidden" value="{{.assignee_id}}">
			<div class="ui {{if not .Assignees}}disabled{{end}} floating jump select-assignee dropdown">
				<span class="text">
					<strong>{{.i18n.Tr "repo.issues.new.assignee"}}</strong>
					<span class="octicon octicon-gear"></span>
				</span>
				<div class="menu">
					<div class="no-select item">{{.i18n.Tr "repo.issues.new.clear_assignee"}}</div>
					{{range .Assignees}}
						<div class="item" data-id="{{.ID}}" data-href="{{$.RepoLink}}/issues?assignee={{.ID}}" data-avatar="{{.RelAvatarLink}}"><img src="{{.RelAvatarLink}}"> {{.Name}}</div>
					{{end}}
				</div>
			</div>
			<div class="ui select-assignee list">
				<span class="no-select item {{if .Assignee}}hide{{end}}">{{.i18n.Tr "repo.issues.new.no_assignee"}}</span>
				<div class="selected">
					{{if .Assignee}}
						<a class="item" href="{{.RepoLink}}/issues?assignee={{.Assignee.ID}}"><img class="ui avatar image" src="{{.Assignee.RelAvatarLink}}"> {{.Assignee.Name}}</a>
					{{end}}
				</div>
			</div>
		</div>
	</div>
</form>
