.admin {
	padding-top: @15;
	padding-bottom: @footer-margin * 2;

	.table.segment {
		padding: 0;
		font-size: 13px;

		&:not(.striped) {
			padding-top: @5;

			thead {
				th:last-child {
					padding-right: @5 !important;
				}
			}
		}

		th {
			padding-top: @5;
			padding-bottom: @5;
		}

		&:not(.select) {
			th, td {
				&:first-of-type {
					padding-left: @15 !important;
				}
			}
		}
	}

	&.user {
		.email {
			max-width: 200px;
		}
	}

	dl.admin-dl-horizontal {
		padding: @20;
		margin: 0;

		dd {
			margin-left: 240px;
		}
		dt {
			font-weight: bolder;
			float: left;
			width: 250px;
			clear: left;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	&.config {
		#test-mail-btn {
			margin-left: @5;
		}
		table tbody tr td:first-child {
			font-weight: bold;
		}
		pre {
			background-color: #f7f7f7;
			padding: @5;
		}
		code {
			color: #db2828;
			line-height: 1;
		}
		.log-config {
			table tbody tr td {
				&:first-child {
					width: 100px;
				}
			}
		}
	}
	&.indication {
		font-size: @10;
    	text-align: center !important;
	}
}

.sitestatus {
	padding: 1em;

	div {
		padding: 1em;
	}
}

.admin-badge {
	font-size: 10px !important;
}

// Mobile
@media (max-width: 1020px) {
	.render-time {
		display: none !important;
	}
}
