.organization {
	padding-top: @15;
	padding-bottom: @footer-margin * 2;

	.head {
		.ui.header {
			.text {
				vertical-align: middle;
				font-size: 1.6rem;
				margin-left: @15;
			}

			.ui.right {
				margin-top: @5;
			}
		}
	}

	&.new.org {
		#create-page-form;
	}

	&.options {
		input {
			min-width: 300px;
		}
	}

	&.profile {
		#org-avatar {
			width: 100px;
			height: 100px;
			margin-right: @15;
		}

		#org-info {
			.ui.header {
				font-size: 36px;
				margin-bottom: 0;
			}

			.desc {
				font-size: @15;
				margin-bottom: @10;
			}

			.meta {
				.item {
					display: inline-block;
					margin-right: @10;

					.icon {
						margin-right: @5;
					}
				}
			}
		}

		.ui.top.header {
			.ui.right {
				margin-top: 0;
			}
		}

		.teams {
			.item {
				padding: @10 15px;
			}
		}
	}

	&.teams,
	&.profile {
		.members {
			.ui.avatar {
				width: 48px;
				height: 48px;
			}
		}
	}

	&.invite {
		#invite-box {
			margin: auto;
			margin-top: 50px;
			width: 500px !important;

			#search-user-box {
				input {
					margin-left: 0;
					width: 300px;
				}
			}

			.ui.button {
				margin-left: @5;
				margin-top: -3px;
			}
		}
	}

	&.members {
		.list {
			.item {
				margin-left: 0;
				margin-right: 0;
				border-bottom: 1px solid #eee;

				.ui.avatar {
					width: 48px;
					height: 48px;
				}

				.meta {
					line-height: 24px;
				}
			}
		}
	}

	&.teams {
		.detail {
			.item {
				padding: @10 15px;

				&:not(:last-child) {
					border-bottom: 1px solid #eee;
				}
			}
		}

		.repositories,
		.members {
			.item {
				padding: @10 @20;
				line-height: 32px;

				&:not(:last-child) {
					border-bottom: 1px solid #DDD;
				}

				.button {
					padding: 9px @10;
				}
			}
		}

		#add-repo-form,
		#add-member-form {
			input {
				margin-left: 0;
			}

			.ui.button {
				margin-left: @5;
				margin-top: -3px;
			}
		}
	}
}

// Mobile
@media (max-width: 1020px) {
	.ui.right .ui.secondary.head.menu .item[href^="/org/"]{
		display: none;
	}
	
	.organization.new.org form .help{
		margin-left: 0 !important;
	}
	
	.organization.new.org form .inline.field > label{
		text-align: left;
	}
	
	
	.organization.new.org form .header{
		padding-left: 0 !important;
	}
}
