.repository {
	@mega-octicon-width: 30px;
	padding-top: @15;
	padding-bottom: @footer-margin * 2;

	.head {
		.column {
			padding-top: @5 !important;
			padding-bottom: @5 !important;
		}

		.ui.compact.menu {
			margin-left: 1rem;
		}

		.ui.header {
			margin-top: 0;
		}

		.mega-octicon {
			width: @mega-octicon-width;
			font-size: 30px;
		}

		.ui.huge.breadcrumb {
			font-weight: 400;
			font-size: 1.7rem;
		}

		.fork-flag {
			margin-left: 50px;
			display: block;
			font-size: 11px;
			white-space: nowrap;
		}

		.octicon.octicon-repo-forked {
			margin-top: -1px;
			font-size: @15;
		}
	}

	.navbar {
		.ui.label {
			margin-left: 7px;
			padding: 3px @5;
		}
	}

	.owner.dropdown {
		min-width: 40% !important;
	}

	.metas {
		.menu {
			max-height: 300px;
			overflow-x: auto;
		}

		.ui.list {
			.hide {
				display: none!important;
			}

			.item {
				padding: 0px;
			}

			.label.color {
				padding: 0 8px;
				margin-right: @5;
			}

			a {
				margin: 2px 0;
				.text {
					color: #444;
					&:hover {
						color: #000;
					}
				}
			}
		}
	}
	.header-wrapper {
		background-color: #FAFAFA;
		margin-top: -@15;
		padding-top: @15;

		.ui.tabs.divider {
			border-bottom: none;
		}

		.ui.tabular .octicon {
			margin-right: @5;
		}
	}
	.filter.menu {
		.label.color {
			border-radius: 3px;
			margin-left: @15;
			padding: 0 10px;
		}

		.octicon {
			float: left;
			margin-left: -@5;
			margin-right: -7px;
			width: 16px;
		}

		.menu {
			max-height: 300px;
			overflow-x: auto;
			right: 0!important;
			left: auto!important;
		}

		.dropdown.item {
			margin: 1px;
			padding-right: 0;
		}
	}

	.ui.tabs {
		&.container {
			margin-top: 14px;
			margin-bottom: 0px;
			.ui.menu {
				border-bottom: none;
			}
		}

		&.divider {
			margin-top: 0;
			margin-bottom: @20;
		}
	}

	#clone-panel {
		margin-top: -8px;
		margin-left: @5;
		width: auto;

		input {
			border-radius: 0;
			padding: @5 @10;
		}

		.clone.button {
			font-size: 13px;
			padding: 0 @5;

			&:first-child {
				border-radius: .28571429rem 0 0 .28571429rem;
			}
		}

		.icon.button {
			padding: 0 @10;
		}

		.dropdown .menu {
			right: 0!important;
			left: auto!important;
		}
	}

	&.branches:not(.settings) {
		.ui.list {
			padding: 0;

			>.item {
				margin: 0;
				line-height: 31px;

				&:not(:last-child) {
					border-bottom: 1px solid #DDD;
				}
				.column {
					padding: @5 @15;

					.octicon {
						vertical-align: text-bottom;
					}

					code {
						padding: 4px 0;
						font-size: 12px;
					}

					.ui.text:not(i) {
						font-size: 12px;
					}

					.ui.button {
						font-size: 12px;
						padding: 8px @10;
					}
				}
			}
		}
	}

	&.file.list {
		#repo-desc {
			font-size: 1.2em;
			
			img {
				font-size: 13px !important;
    			margin-bottom: 3px !important;
			}
		}

		.choose.reference {
			.header .icon {
				font-size: 1.4em;
			}
		}

		#file-buttons {
			font-weight: normal;
			
			.ui.button {
				padding: 8px @10;
				font-weight: normal;
			}
		}

		#git-stats {
			padding: @10;
			line-height: 0;

			.list {
				width: 100%;

				.item {
					margin-left: 0;
					width: 33.33%;

					.text b {
						font-size: @15;
					}
				}
			}
		}

		#repo-files-table {
			thead {
				th {
					padding-top: 8px;
					padding-bottom: @5;
					font-weight: normal;

					&:first-child {
						display: block;
						position: relative;
						width: 325%;
					}
				}

				.ui.avatar {
					margin-bottom: @5;
				}
			}

			tbody {
				.octicon {
					margin-left: 3px;
					margin-right: @5;
					color: #777;

					&.octicon-mail-reply {
						margin-right: @10;
					}

					&.octicon-file-directory, &.octicon-file-submodule {
						color: #1e70bf;
					}
				}
			}

			td {
				padding-top: 9px;
				padding-bottom: 9px;
			}

			tr:hover {
				background-color: #ffffEE;
			}
		}

		#file-content {
			.header {
				.octicon {
					padding-right: @5;
				}

				.icon {
					font-size: 1em;
					margin-top: -2px;
				}

				.file-actions {
					padding-left: @20;

					.btn-octicon {
						display: inline-block;
						padding: @5;
						margin-left: @5;
						line-height: 1;
						color: #767676;
						vertical-align: middle;
						background: transparent;
						border: 0;
						outline: none;
					 }

					 .btn-octicon:hover {
					  	color: #4078c0;
					}

					.btn-octicon-danger:hover {
					  	color: #bd2c00;
					}

					.btn-octicon.disabled {
						color: #bbb;
						cursor: default;
					}

					#delete-file-form {
						display: inline-block;
					}
				}
			}

			.view-raw {
				padding: @5;
				* {
					max-width: 100%;
				}

				img {
					margin-bottom: -@5;
				}
			}

			#ipython-notebook {
				margin-left: 95px;
				padding-top: 1px;

				.nb-notebook {
					line-height: 1.5;
				}

				.nb-stdout, .nb-stderr {
					white-space: pre-wrap;
					margin: 1em 0;
					padding: 0.1em 0.5em;
				}

				.nb-stderr {
					background-color: #FAA;
				}

				.nb-cell + .nb-cell {
					margin-top: 0.5em;
				}

				.nb-cell {
					position: relative;    

					&.nb-heading-cell {
						margin-top: 0.5em;
					}
					
					img {
						max-width: 100%;
					}
				}

				.nb-raw-cell {
					white-space: pre-wrap;
					background-color: #f5f2f0;
					font-family: monospace;
					padding: 1em;
					margin: .5em 0;
				}

				.nb-input:before, 
				.nb-output:before {
					position: absolute;    
					font-family: monospace;
					color: #999;
					left: -7.5em;
					width: 7em;
					text-align: right;
				}

				.nb-input {
					&:before {
						content: "In [" attr(data-prompt-number) "]:";
					}

					pre {
						background-color: #f7f7f7;
						margin-right: @10;
						padding: @5 @10;

						code {
							min-height: 18px;
							line-height: 18px;
							font-size: 14px;
						}
					}
				}

				.nb-output{
					&:before {
						content: "Out [" attr(data-prompt-number) "]:";
					}
					
					pre {
						padding: @5 @10;
						font-size: 14px;
					}

					img {
						max-width: 100%;
					}

					table {
						border: 1px solid #000;
						border-collapse: collapse;
					}

					th {
						font-weight: bold;
					}

					th,
					td {
						border: 1px solid #000;
						padding: 0.25em;    
						text-align: left;
						vertical-align: middle;
						border-collapse: collapse;
					}
				}

				.nb-markdown-cell {
					margin-top: @10;
					margin-right: @10;
					padding: @10;
				}

				// Fix pandas dataframe formatting
				div[style="max-height:1000px;max-width:1500px;overflow:auto;"] {
					max-height: none !important;    
				}
			}

			.plain-text {
				font-size: 14px;
				padding: @15 @15 @10 @15;
				font-family: Consolas;
			}

			.code-view {
				* {
					font-size: 12px;
					font-family: monospace;
					line-height: @20;
				}

				table {
					width: 100%;

					tbody {
						tr {
							padding: 0 !important;
						}
					}
				}

				.lines-num {
					vertical-align: top;
					text-align: right;
					color: #999;
					background: #f5f5f5;
					width: 42px;

					span {
						line-height: @20;
						padding: 0 @10;
						cursor: pointer;
						display: block;
					}
				}

				.lines-num,
				.lines-code {
					display: table-cell !important;
					padding: 0 !important;
					padding-left: 5px !important;

					pre,
					ol,
					.hljs {
						background-color: white;
						margin: 0;
						padding: 0 !important;

						li {
							display: inline-block;
							width: 100%;

							&.active {
								background: #ffffdd;
							}

							&:before {
								content: ' ';
							}
						}
					}
				}
			}
		}

		.sidebar {
			padding-left: 0;

			.octicon {
				width: 16px;
			}
		}
	}

	&.file.editor {
		.treepath {
			width: 100%;

			input {
				vertical-align: middle;
				box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 2px inset;
				width: inherit;
				padding: 7px 8px;
				margin-right: @5;
			}
		}

		.tabular.menu {
			.octicon {
				margin-right: @5;
			}
		}

		.commit-form-wrapper {
			padding-left: 64px;

			.commit-avatar {
				float: left;
				margin-left: -64px;
				width: 3em;
		    	height: auto;
			}
			.commit-form {
				position: relative;
				padding: @15;
				margin-bottom: @10;
				border: 1px solid #ddd;
				border-radius: 3px;

				#avatar-arrow;
				&:after {
					border-right-color: @white-100;
				}

				.quick-pull-choice {
					.branch-name {
						display: inline-block;
						padding: 3px 6px;
						font-size: 12px;
						font-family: monospace;
						color: rgba(0,0,0,0.65);
						background-color: rgba(209,227,237,0.45);
						border-radius: 3px;
					}

					.new-branch-name-input {
						position: relative;
						margin-left: 25px;

						input {
							width: 240px !important;
							padding-left: 26px !important;
				    	}
					}

					.octicon-git-branch {
						position: absolute;
						top: 9px;
						left: @10;
						color: #b0c4ce;
					}
				}
			}
		}
	}

	&.options {
		#interval {
			width: 100px!important;
			min-width: 100px;
		}

		.danger {
			.item {
				padding: @20 @15;
			}

			.ui.divider {
				margin: 0;
			}
		}
	}

	@comment-avatar-width: 3em;
	&.new.issue {
		.comment.form {
			.comment {
				.avatar {
					width: @comment-avatar-width;
				}
			}
			.content {
				margin-left: 4em;
				#avatar-arrow;
				&:after {
					border-right-color: @white-100;
				}

				.markdown {
					font-size: 14px;
				}
			}
			.metas {
				min-width: 220px;
				.filter.menu {
					max-height: 300px;
					overflow-x: auto;
				}
			}

		}
	}

	&.view.issue {
		.title {
			padding-bottom: 0!important;

			h1 {
				font-weight: 300;
				font-size: 2.3rem;
				margin-bottom: @5;

				.ui.input	{
					font-size: 0.5em;
					vertical-align: top;
					width: 50%;
					min-width: 600px;

					input {
						font-size: 1.5em;
						padding: 6px @10;
					}
				}
			}

			.index {
				font-weight: 300;
				color: #aaa;
				letter-spacing: -1px;
			}

			.label {
				margin-right: @10;
			}

			.edit-zone {
				margin-top: @10;
			}
		}

		.pull-desc {
			code {
				color: #0166E6;
			}
		}

		.pull {
			&.tabular.menu {
				margin-bottom: @10;
				.octicon {
					margin-right: @5;
				}
			}

			&.tab.segment {
				border: none;
				padding: 0;
				padding-top: @10;
				box-shadow: none;
				background-color: inherit;
			}

			.merge.box {
				.avatar {
					margin-left: @10;
					margin-top: @10;
				}

				#commit_description {
					height: auto;
				}
			}
		}

		.comment-list {
			&:before {
				display: block;
				content: "";
				position: absolute;
				margin-top: 12px;
				margin-bottom: 14px;
				top: 0;
				bottom: 0;
				left: 96px;
				width: 2px;
				background-color: #f3f3f3;
				z-index: -1;
			}

			.comment {
				.avatar {
					width: @comment-avatar-width;
				}

				.tag {
					color: #767676;
					margin-top: 3px;
					padding: 2px @5;
					font-size: 12px;
					border: 1px solid rgba(0,0,0,0.1);
					border-radius: 3px;
				}

				.actions {
					.item {
						float: left;
						&.tag {
							margin-right: @5;
						}
						&.action {
							margin-top: 6px;
							margin-left: @10;
						}
					}
				}

				.content {
					margin-left: 4em;

					.header {
						#avatar-arrow;
						font-weight: normal;
						padding: auto @15;
						position: relative;
						color: #767676;
						background-color: #f7f7f7;
						border-bottom: 1px solid #eee;
						border-top-left-radius: 3px;
						border-top-right-radius: 3px;

						.text {
							max-width: 78%;
							padding-top: @10;
							padding-bottom: @10;
						}
					}

					.markdown {
						font-size: 14px;
					}

					.no-content {
						color: #767676;
						font-style: italic;
					}

					> .bottom.segment {
						background: #f3f4f5;
						.ui.images::after {
							clear: both;
							content: ' ';
							display: block;
						}

						a {
							display: block;
							float: left;
							margin: @5;
							padding: @5;
							height: 150px;
							border: solid 1px #eee;
							border-radius: 3px;
							max-width: 150px;
							background-color: @white-100;

							&:before {
								content:' ';
								display: inline-block;
								height: 100%;
								vertical-align: middle;
							}
						}

						.ui.image {
							max-height: 100%;
							width: auto;
							margin: 0;
							vertical-align: middle;
						}

						span.ui.image {
							font-size: 8vw;
							color: #000000;
						}

						span.ui.image:hover {
							color: #000000;
						}
					}
				}

				.ui.form {
					.field:first-child {
						clear: none;
					}

					.tab.segment {
						border: none;
						padding: 0;
						padding-top: @10;
					}

					textarea {
						height: 200px;
						font-family: monospace;
					}
				}

				.edit.buttons {
					margin-top: @10;
				}
			}

			.event {
				position: relative;
				margin: @15 0 @15 79px;
				padding-left: 25px;

				.octicon {
					width: 30px;
					float: left;
					text-align: center;

					&.octicon-circle-slash {
						margin-top: @5;
						margin-left: -34.5px;
						font-size: @20;
						background: @white-100;
						color: #bd2c00;
					}

					&.octicon-primitive-dot {
						margin-left: -30.5px;
						margin-right: -1px;
						margin-top: -5px;
						font-size: 38px;
						color: #6cc644;
					}

					&.octicon-bookmark {
						margin-top: 3px;
						margin-left: -31px;
						margin-right: -1px;
						font-size: 25px;
					}
				}

				.detail {
					font-size: 0.9rem;
					margin-top: @5;
					margin-left: 35px;

					.octicon {
						&.octicon-git-commit {
							margin-top: 2px;
						}
					}
				}
			}
		}

		.ui.segment.metas {
			margin-top: -3px;
		}

		.ui.participants {
			img {
				margin-top: @5;
				margin-right: @5;
			}
		}
	}

	.comment.form {
		.ui.comments {
			margin-top: -12px;
			max-width: 100%;
		}

		.content {
			.field:first-child {
				clear: none;
			}

			.form {
				#avatar-arrow;
				&:after {
					border-right-color: @white-100;
				}
			}

			.tab.segment {
				border: none;
				padding: 0;
				padding-top: @10;
			}

			textarea {
				height: 200px;
                font-family: monospace;
			}
		}
	}

	.label.list {
		list-style: none;
		padding-top: @15;

		>.item {
			padding-top: @10;
			padding-bottom: @10;
			border-bottom: 1px dashed #AAA;

			a {
				font-size: @15;
				padding-top: @5;
				padding-right: @10;
				color: #666;

				&:hover {
					color: #000;
				}

				&.open-issues {
					margin-right: 30px;
				}
			}

			.ui.label {
				font-size: 1em;
			}
		}
	}

	.milestone.list {
		list-style: none;
		padding-top: @15;

		> .item {
			padding-top: @10;
			padding-bottom: @10;
			border-bottom: 1px dashed #AAA;

			> a {
				padding-top: @5;
				padding-right: @10;
				color: #000;
				&:hover {
					color: #4078c0;
				}
			}

			.ui.progress {
				width: 40%;
				padding: 0;
				border: 0;
				margin: 0;

				.bar {
					height: 13px;
				}
			}

			.meta {
				color: #999;
				padding-top: @5;

				.issue-stats .octicon{
					padding-left: @5;
				}

				.overdue {
					color: red;
				}
			}

			.operate {
				margin-top: -@15;

				> a {
					font-size: @15;
					padding-top: @5;
					padding-right: @10;
					color: #666;

					&:hover {
						color: #000;
					}
				}
			}
			.content {
				padding-top: @10;
			}
		}
	}

	&.new.milestone {

		textarea {
			height: 200px;
		}

		#deadline {
			width: 150px;
		}
	}

	&.compare.pull {
		.choose.branch {
			.octicon {
				padding-right: @10;
			}
		}

		.comment.form {
			.content {
				#avatar-arrow;
				&:after {
					border-right-color: @white-100;
				}
			}
		}
	}

	.filter.dropdown .menu {
		margin-top: 1px!important;
	}

	&.commits {
		.header {
			.ui.right {
				.search {
					input {
						font-weight: normal;
						padding: @5 @10;
					}
				}
			}
		}
	}

	#commits-table {
		thead {
			th:first-of-type {
				padding-left: @15;
			}

			.sha {
				font-size: 13px;
				padding: 4px 40px 4px 35px;
			}
		}

		&.ui.basic.striped.table tbody tr:nth-child(2n) {
			background-color: rgba(0, 0, 0, .02)!important;
		}
	}

	.diff-detail-box {
		margin: @15 0;
		line-height: 30px;

		ol {
			clear: both;
			padding-left: 0;
			margin-top: @5;
			margin-bottom: 28px;

			li {
				list-style: none;
				padding-bottom: 4px;
				margin-bottom: 4px;
				border-bottom: 1px dashed #DDD;
				padding-left: 6px;
			}
		}

		span.status{
			display: inline-block;
			width: 12px;
			height: 12px;
			margin-right: 8px;
			vertical-align: middle;

			&.modify {
				background-color: #f0db88;
			}

			&.add {
				background-color: #b4e2b4;
			}

			&.del {
				background-color: #e9aeae;
			}

			&.rename {
				background-color: #dad8ff;
			}
		}
	}

	.diff-box {
		.count {
			margin-right: 12px;
			font-size: 13px;

			.bar {
				background-color: #bd2c00;
				height: 12px;
				width: 40px;
				display: inline-block;
				margin: 2px 4px 0 4px;
				vertical-align: text-top;
	
				.add {
					background-color: #55a532;
					height: 12px;
				}
			}
		}
	
		.file {
			color: #888;
		}
	}

	.diff-file-box {
		.header {
			background-color: #f7f7f7;
		}

		.file-body.file-code {
			.lines-num {
				text-align: right;
				color: #A7A7A7;
				background: #fafafa;
				width: 1%;

				span.fold {
					display: block;
					text-align: center;
				}
			}

			.lines-num-old {
				border-right: 1px solid #DDD;
			}
		}

		.code-diff {
			font-size: 12px;

			td {
				padding: 0;
				padding-left: @10;
				border-top: none;
			}

			pre {
				margin: 0;
			}

			.lines-num {
				border-right: 1px solid #d4d4d5;
				padding: 0 @5;
				user-select: none;

				&::before {
					content: attr(data-line-number);
				}

				&.lines-num-old, &.lines-num-new {
					cursor: pointer;
					&:hover {
						color: #383636;
					}
				}
			}

			tbody {
				tr {
					&.tag-code {
						td {
							background-color: #F0F0F0 !important;
							border-color: #D2CECE!important;
							padding-top: 4px;
							padding-bottom: 4px;
						}

						td.halfwidth {
							width: 50%;
						}
					}

					&.same-code {
						td.active {
							background-color: #ffffdd !important;
						}
					}

					&.del-code {
						// Duplicate here to enforce add code color.
						td.add-code {
							background-color: #eaffea !important;
							border-color: #c1e9c1 !important;
							pre {
								background-color: #eaffea !important;
								border-color: #c1e9c1 !important;

							}
						}

						td {
							background-color: #ffecec !important;
					    	border-color: #f1c0c0 !important;
						}

						td.active {
							background-color: #ffffdd !important;
						}

						td.halfwidth {
							width: 50%;
						}
					}

					&.add-code {
						td {
							background-color: #eaffea !important;
							border-color: #c1e9c1 !important;
						}

						td.halfwidth {
							width: 50%;
						}

						td.active {
							background-color: #ffffdd !important;
						}
					}

					.removed-code {
					  background-color: #ff9999;
					}

					.added-code {
					  background-color: #99ff99;
					}
				}
			}
		}

		&.file-content {
			img {
				max-width: 100%;
				padding: @5 @5 0 @5;
			}
		}
	}

	.code-view {
		overflow: auto;
		overflow-x: auto;
		overflow-y: hidden;

		table {
			width: 100%;
			border-spacing: 0;
		}
	}

	&.quickstart {
		.guide {
			.item {
				padding: 1em;

				small {
					font-weight: normal;
				}
			}

			.clone.button:first-child {
				border-radius: .28571429rem 0 0 .28571429rem;
			}

			.ui.action.small.input {
				width: 100%;
			}

			#repo-clone-url {
				border-radius: 0;
				padding: @5 @10;
				font-size: 1.2em;
				
				&:focus {
					border-radius: 0;
					padding: @5 @10;
					font-size: 1.2em;
				}
			}
		}
	}

	&.release {
		#release-list {
			border-top: 1px solid #DDD;
			margin-top: @20;
			padding-top: @15;

			>li {
				list-style: none;

				.meta,
				.detail {
					padding-top: 30px;
					padding-bottom: 40px;
				}

				.meta {
					text-align: right;
					position: relative;

					.tag:not(.icon) {
						display: block;
						margin-top: 6px;
					}

					.commit {
						display: block;
						margin-top: 6px;
					}
				}
	
				.detail {
					border-left: 1px solid #DDD;

					.author {
						img {
							margin-bottom: -3px;
						}
					}

					.download {
						margin-top: @20;

						>a {
							.octicon {
								margin-left: @5;
								margin-right: @5;
							}
						}

						.list {
							padding-left: 0;
							border-top: 1px solid #eee;

							li {
								list-style: none;
								display: block;
								padding-top: 8px;
								padding-bottom: 8px;
								border-bottom: 1px solid #eee;
							}
						}
					}

					.dot {
						width: 9px;
						height: 9px;
						background-color: #ccc;
						z-index: 999;
						position: absolute;
						display: block;
						left: -@5;
						top: 40px;
						border-radius: 6px;
						border: 1px solid #FFF;
					}
				}
			}
		}
	}

	&.new.release {
		.target {
			min-width: 500px;

			#tag-name {
				margin-top: -4px;
			}

			.at {
				margin-left: -@5;
				margin-right: @5;
			}

			.dropdown.icon {
				margin: 0;
				padding-top: 3px;
			}

			.selection.dropdown {
				padding-top: @10;
				padding-bottom: @10;
			}
		}

		.prerelease.field {
			margin-bottom: 0;
		}
	}

	&.forks {
		.list {
			margin-top: 0;

			.item {
				padding-top: @10;
				padding-bottom: @10;
				border-bottom: 1px solid #DDD;

				.ui.avatar {
					float: left;
					margin-right: @5;
				}
				.link {
					padding-top: @5;
				}
			}
		}
	}

	&.wiki {
		&.start {
			.ui.segment {
				padding-top: 70px;
				padding-bottom: 100px;

				.mega-octicon {
					font-size: 48px;
				}
			}
		}

		&.new {
			.CodeMirror {
				.CodeMirror-code {
					font-family: monospace;
					.cm-comment {
						background: inherit;
					}
				}
			}

			.editor-preview {
				background-color: white;
			}
		}

		&.view {
			.choose.page {
				margin-top: -@5;
			}

			.ui.sub.header {
				text-transform: none;
			}

			.markdown {
				padding-left: 25px;
				margin-left: -25px;

				h1, h2, h3, h4, h5, h6 {
					&:first-of-type {
						margin-top: 0;
					}
				}
			}
		}

		&.timestamp {
			font-size: 12px !important;
    		margin-top: 7px !important;
		}
	}

	&.settings {
		&.collaboration {
			.collaborator.list {
				padding: 0;

				>.item {
					margin: 0;
					line-height: 2em;

					&:not(:last-child) {
						border-bottom: 1px solid #DDD;
					}
				}
			}

			#repo-collab-form {
				#search-user-box {
					.results {
						left: 7px;
					}
				}

				.ui.button {
					margin-left: @5;
					margin-top: -3px;
				}
			}
		}

		&.settings.branches {
			.protected-branches {
				.selection.dropdown {
					width: 300px;
				}

				.item {
			    border: 1px solid #eaeaea;
			    padding: @10 @15;

			    &:not(:last-child) {
				    border-bottom: 0;
			    }
				}
			}

			.branch-protection {
				.help {
					margin-left: 26px;
					padding-top: 0;
				}

				.fields {
					margin-left: @20;
					display: block;
				}

				.whitelist {
					margin-left: 26px;

					.dropdown img {
						display: inline-block;
					}
				}
			}
		}

		&.webhooks {
			.types {
				.menu .item {
					padding: @10 !important;
				}
			}

			.logo.item img {
				margin-top: -4px;
			}
		}

		&.webhook {
			.text.desc {
				margin-top: @5;
			}

			.events {
				.column {
					padding-bottom: 0;
				}

				.help {
					font-size: 13px;
					margin-left: 26px;
					padding-top: 0;
				}
			}
		}
	}
}

.repo {
	&.url {
		margin-left: 5px;
	}	
}

// End of .repository

// Should apply organization webhooks page
.webhook .hook.history.list {
	.right.menu {
		.redelivery.button {
			font-size: 12px;
			margin-top: 6px;
			height: 30px;

			.octicon {
				font: normal normal normal 13px/1 Octicons;
				width: 12px;
			}
		}
	}
}

&.user-cards {
	.list {
		padding: 0;

		.item {
			list-style: none;
			width: 32%;
			margin: @10 @10 @10 0;
			padding-bottom: 14px;
			float: left;

			.avatar {
				width: 48px;
				height: 48px;
				float: left;
				display: block;
				margin-right: @10;
			}

			.name {
				margin-top: 0;
				margin-bottom: 0;
				font-weight: normal;
			}

			.meta {
				margin-top: @5;
			}
		}
	}
}

#search-repo-box,
#search-user-box {
	.results {
		padding: 0;
		position: absolute;

		.item {
			padding: @10 @15;
			border-bottom: 1px solid #DDD;
			cursor: pointer;

			&:hover {
				background: rgba(0,0,0,.05)!important;
				color: rgba(0,0,0,.95)!important;
			}

			img {
				margin-right: 8px;
			}
		}
	}
}

.issue.list {
	list-style: none;
	padding-top: @15;

	>.item {
		padding-top: @15;
		padding-bottom: @10;
		border-bottom: 1px dashed #AAA;

		.title {
			color: #444;
			font-size: @15;
			font-weight: bold;
			margin: 0 6px;

			&:hover {
				color: #000;
			}
		}

		.comment {
			padding-right: @10;
			color: #666;
		}

		.desc {
			padding-top: @5;
			color: #999;

			a.milestone {
				padding-left: @5;
				color: #999!important;

				&:hover {
					color: #000!important;
				}
			}

			.assignee {
				margin-top: -@5;
				margin-right: @5;
			}
		}
	}
}

.issue-search {
	padding: 8px !important;
}

.page.buttons {
	padding-top: @15;
}

.ui.form {
	.dropzone {
		width: 100%;
		margin-bottom: @10;
		border: 2px dashed #0087F7;
		box-shadow: none!important;

		.dz-error-message {
			top: 140px;
		}
	}
}

.settings {
	.content {
		margin-top: 2px;
	}
	.key.list {
		.item:not(:first-child) {
			border-top: 1px solid #eaeaea;
		}

		.ssh-key-state-indicator {
			float: left;
			color: gray;
			padding-left: @10;
			padding-top: @10;

			&.active {
				color: #6cc644;
			}
		}

		.meta {
			padding-top: @5;
		}

		.print {
			color: #767676;
		}

		.activity {
			color: #666;
		}
	}

	.hook.list {
		> .item:not(:first-child) {
			border-top: 1px solid #eaeaea;
		}

		.item {
			padding: @10 @20;

			.octicon,
			.fa {
				width: @20;
				text-align: center;
			}

			a {
				.dont-break-out;
			}
		}
	}
	.hook.history.list {
		.item {
			padding-left: 13px;

			.meta {
				.ui.right {
					margin-top: @5;

					.time {
						font-size: 12px;
					}
				}
			}

			.info {
				margin-top: @10;
				.tabular.menu {
					.item {
						font-weight: 500;
					}
				}

				.tab.segment {
					border: none;
					padding: 0;
					padding-top: @10;
					box-shadow: none;

					> * {
						color: #666;
					}

					pre {
						word-wrap: break-word;

						.hljs {
							padding: 0;
							background-color: inherit;
						}
					}
				}
			}
		}
	}
}

.ui.vertical.menu {
	.header.item {
		font-size: 1.1em;
		background: #f0f0f0;
	}
}

.edit-label.modal,
.new-label.segment {
	.form {
		.column {
			padding-right: 0;
		}

		.buttons {
			margin-left: auto;
			padding-top: @15;
		}

		.color.picker.column {
			width: auto;

			.color-picker {
				height: 35px;
				width: auto;
				padding-left: 30px;
			}
		}

		.minicolors-swatch.minicolors-sprite {
			top: @10;
			left: @10;
			width: @15;
			height: @15;
		}

		.precolors {
			padding-left: 0;
			padding-right: 0;
			margin: 3px @10 auto @10;
			width: 120px;

			.color {
				float: left;
				width: @15;
				height: @15;
			}
		}
	}
}

#avatar-arrow {
	&:before, &:after {
		right: 100%;
		top: @20;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	&:before {
		border-right-color: #D4D4D5;
		border-width: 9px;
		margin-top: -9px;
	}

	&:after {
		border-right-color: #f7f7f7;
		border-width: 8px;
		margin-top: -8px;
	}
}

#transfer-repo-modal,
#delete-repo-modal {
	.ui.message {
		width: 100%!important;
	}
}

// generate .tab-size-{i} from 1 to 16
.generate-tab-size(16);
.generate-tab-size(@n, @i: 1) when (@i =< @n) {
	.tab-size-@{i} {
		tab-size: @i !important;
		-moz-tab-size: @i !important;
	}

	.generate-tab-size(@n, (@i + 1));
}

.repo-table-font {
	font-size: @15 !important;
	line-height: 1.5;
}

.md-helper {
    display: inline-block;
    padding-top: @15;
    margin-left: @10;
    font-size: 12px;
    color: #586069;
	float: left;
	
	&:hover {
		color: #0366d6;
	}
}
.view-source {
	border: 1px solid #2185d0;
    border-radius: 4px;
    padding: @5 8px;
    margin-left: 3px;
	
	&:hover {
		background: #2185d0;
	}
}

.code-icon {
	color:#2185d0;

	&:hover {
		color: @white-100;
	}
}

// Mobile
@media (max-width: 1020px) {
	[class*="vertically padded"].ui.grid,
	#release-list .ui.grid,
	#git-stats,
	.repository.new.repo .ui.form .selection.dropdown:not(.owner),
	.repository.new.repo form input, 
	.repository.new.migrate form input, 
	.repository.new.fork form input, 
	.repository.new.repo form textarea, 
	.repository.new.migrate form textarea, 
	.repository.new.fork form textarea,
	.ui.grid > [class*="twelve wide"].column,
	.repository .ui.container .navbar .ui.compact.small.menu{
		width: 100% !important;
	}
	
	.repository .ui.container .ui.secondary.menu{
		padding: 6px 6px 30px;
		position: relative;
		width: 100%;
	}
	
	.repository.file.list #repo-files-table .grey.has-emoji,
	.repository.file.list #repo-files-table thead th,
	.repository.file.list #repo-files-table td.message.collapsing.has-emoji{
		display: none;
	}
	
	.repository.file.list #repo-files-table thead th:first-child {
		width: 200%;
	}
	
	.repository.file.list #repo-files-table tr{
		width: 100%;
	}
	
	#commits-table tbody tr .message.collapsing span,
	#commits-table thead tr .nine.wide.message span.commits-message{
		display: none;
	}
	
	#commits-table thead tr th.four.wide,
	#commits-table thead tr th.nine.wide.message,
	#commits-table thead tr th.three.wide{
		width: 33%;
	}
	
	#file-buttons{
		display: none !important;
	}
	
	.ui.menu .right.fitted.item{
		display: none;
	}
	
	.repository .ui.container .navbar .ui.compact.small.menu .item{
		position: relative;
		width: 50%;
		text-align: center;
	}
	
	.repository .ui.container .navbar .ui.right{
		margin-top: @5;
		float: none;
	}
	
	.repository .ui.container .navbar .ui.right .ui.green.button{
		margin: auto;
		display: table;
	}
	
	.repository.new.repo form .inline.field > label, 
	.repository.new.migrate form .inline.field > label, 
	.repository.new.fork form .inline.field > label{
		text-align: left;
	}
	
	.repository.new.repo form .header, 
	.repository.new.migrate form .header,
	.repository.new.fork form .header{
		padding-left: 0 !important;
	}
	
	.repository .header-wrapper .ui.tabular .octicon{
		margin: 0 auto !important;
	}
	
	.repository .header-wrapper .ui.tabular .octicon.octicon-file-text{
		padding-left: @5;
	}
	
	#repo-desc{
		text-align: left;
	}
	
	.repository.release #release-list > li .meta {
		text-align: left;
		padding-bottom: 0;
		border-left: 1px solid #DDD;
	}
	.repository.release #release-list > li .detail{
		padding-top: @10;
	}
	
	.repository .ui.container .ui.secondary.menu.right.floated.menu{
		display: none;
	}
}
