.user {
	&:not(.icon) {
		padding-top: @15;
		padding-bottom: @footer-margin * 2;
	}

	&.settings {
		.list {
			.item.ui.grid {
				margin-top: @15;
			}
		}

		.email.list {
			.item:not(:first-child) {
				border-top: 1px solid #eaeaea;
				height: 50px;

				.button {
					margin-top: -@10;
				}
			}

			.item .ui.primary.label {
				margin-top: -5px;
			}
		}

		&.sshkeys,
		&.applications {
			.right.floated.button {
		    padding-top: 1rem;
		    padding-bottom: 1rem;
			}
		}

		&.security {
			.two-factor .toggle.button {
				margin-top: -5px;
			}
		}

		&.repositories .repos {
			padding: 0;

			.item {
				padding: @15;
				height: 46px;

				.button {
					margin-top: -5px;
				}
			}
		}

		&.organizations .orgs {
			&.non-empty {
				padding: 0;
			}

			.item {
				padding: @10;
				.button {
					margin-top: @5;
					margin-right: 8px;
				}
			}
		}
	}

	&.profile {
		.ui.card {
			.header {
				word-break: break-all;
			}

			.username {
				background-color: #ffdb99;
    			color: #330000;
    			display: inline-block;
    			margin-top: @5;
    			padding: 3px;
    			padding-left: 8px;
    			padding-right: 8px;
			    border-radius: 2em;
    			font-size: 11px;
			}

			.extra.content {
				padding: 0;

				ul {
					margin: 0;
					padding: 0;

					li {
						padding: @10;
						list-style: none;

						&:not(:last-child) {
							border-bottom: 1px solid #eaeaea;
							font-family: monospace;
    						font-weight: bold;
						}

						.octicon {
							margin-left: 1px;
							margin-right: @5;
						}

						&.follow {
							.ui.button {
								width: 100%;
							}
						}
					}
				}
			}
		}

		.ui.repository.list {
			margin-top: 25px;
		}
	}

	&.followers {
		.header.name {
			font-size: @20;
			line-height: 24px;
			vertical-align: middle;
		}

		.follow {
			.ui.button {
				padding: 8px @15;
			}
		}
	}

	&.description {
		margin-bottom: @5;
		margin-top: @5;
		overflow: hidden;
		font-size: 13px;
		color: #6a737d;
		font-family: monospace !important;
    	font-weight: 100 !important;
	}
}

.verified {
	font-size: 16px;
	color: #328a46 !important;
	margin-right: 3px;

	&.v-explore {
		font-size: 13px;
	}
}

.maker {
	font-size: 16px;
	color: #6435c9;
}

.streamer {
	font-size: 16px;
	color: #6441A4;
}

.isstaff {
	font-size: 16px;
	color: #f2711c;
}

.isintern {
	font-size: 16px;
	color: #242424;
}

.developer {
	font-size: 16px;
	color: #00bcd4;
}

.gitotedeveloper {
	font-size: 16px;
	color: #21ba45;
}

.bughunter {
	font-size: 16px;
	color: #ff0000;
	margin-right: 2px;

	&.bh-explore {
		font-size: 13px;
		margin-right: 3px;
	}
}

.org-grid {
	display: inline-block;
    margin-bottom: 3px;
}

.staff {
	padding: 3px 4px;
    font-size: 12px;
    font-family: 'Source Sans Pro', sans-serif;
    color: @white-100;
    text-transform: uppercase;
    border-radius: 2px;
    box-shadow: inset 0 -1px 0 rgba(27,31,35,0.12);
    background-color: #0366d6;
}

.pro-truncate {
	overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 85%;
    margin-bottom: -6px;
}

// Mobile
@media (max-width: 1020px) {
	.ui.eleven.wide.column{
		width: 100% !important;
	}
	
	.ui.container .ui.grid .ui.eleven.wide.column .text.right .ui.green.button{
		width: 100%;
	}

	.mobile-card {
		border-radius: 0 !important;
		box-shadow: none;
		padding: @15;
		font-family: monospace;

		&.follow {
			margin-top: @15;
			width: 100%;
			border-radius: @5 !important;
		}
	}

	.mobile-count {
		display: none !important;
	}

	.mobile-name {
		font-size: 18px;
		font-weight: bold;
	}
	.status {
		color: #949494;
		font-size: 12px;
		margin-top: 8px !important;
	}
}

// Only Dektop
@media (min-width: 1020px) {
	.mobile-card {
		display: none;
	}
}
